{% for key, value in _akorezin_sshd_config.items() %}
  {% if value is boolean %}
    {{- key }} {{ 'yes' if value else 'no' }}
  {% elif value is string or value is number %}
    {{- key }} {{ value }}
  {% elif value is mapping %}
  {% elif value is iterable %}
    {% for valueItem in value %}
      {{- key }} {{ valueItem }}
    {% endfor %}
  {% endif %}
{% endfor %}
